/*/////////////////////////////////

    Block Single - Base Version

//////////////////////////////////*/

[class^="block_single__"] {
    @include block_image_margins() {
        display: inline-block;
        position: relative;
    };
}

.block-single__item {
    float: left;
    height: 0;
    padding-bottom: 94%;
    position: relative;
    width: 100%;
}


