<div class="container-fluid">

    <a ng-href="{{module.content.url_slug}}"
       title="{{getTitle(module.content)}}"
       ng-repeat="module in module.items"
       class="block-single__item">

        <image_background_db
                ng-if="getImage(module.content, 'main_image')"
                filter_name="'block_slide'"
                image="getImage(module.content, 'main_image')"
                module=module
                img_class="block-slide__image"
                class=""
                alt="{{getAltText(module.content)}}">
        </image_background_db>

        <div class="swiper-slide__content">
            <div class="swiper-slide__content-date" ng-bind-html="getDate(module.content.posted_at) | date: 'MMM dd' " ng-if="module.content.handle == 'news'"></div>
            <div class="swiper-slide__content-date" ng-bind-html="getDate(module.content.start_date_time) | date: 'MMM dd'" ng-if="module.content.handle == 'events'"></div>
            <div class="swiper-slide__content-title" ng-bind-html="getTitle(module.content)" ng-if="getTitle(module.content)"></div>
            <div class="swiper-slide__content-subtitle" ng-bind-html="module.content.subtitle" ng-if="module.content.subtitle"></div>
            <p class="swiper-slide__content-description" ng-bind-html="module.content.description | words: 20" ng-if="module.content.description"></p>
        </div>

        <structured_data module="module"></structured_data>

    </a>
</div>

